body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
  background-image: url("http://cdn.wallpapersafari.com/66/57/ead2vD.jpg")
}

.img-circle {
    border-radius: 40%;
}
 p {
    font-family: "Times New Roman", Georgia, Serif;
}
p.indent{ padding-left: 3.3em ;
  
}
a { color: #fe921f; text-decoration: underline; }
h1 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }

h2 { color: ##685206; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }

h3 { color: #ff4411; font-size: 24px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }

h4 { color: #; font-size: 24px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }

footer{
	text-align: center;
}
